@font-face {
    font-family: 'IranYekan';
    src: url('./assets/fonts/IRANYekanWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'IranYekan', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.test-container {
    background-color: red;
}